/* index.css */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#game {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  width: 80rem;
  height: 50rem;
  margin: 3rem auto; /* Centers the header */
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.game-background {
  background: radial-gradient(
      circle at top,
      rgba(188, 146, 233, 0.5),
      rgba(88, 8, 173, 0.5)
    ),
    url("/bg-pattern.png");
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  min-height: 40rem;
}

.game-header {
  text-align: center;
}

#game img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

#game h1 {
  font-family: "Caprasimo", cursive;
  font-size: 5rem;
  margin: 0 auto 3rem auto;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

#departments {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

#departments ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#departments li {
  width: 10rem;
  text-align: center;
}

#departments li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

#departments li h3 {
  margin: 0.5rem 0;
}

#departments li p {
  font-size: 0.9rem;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}
